# fly.toml app configuration file generated for proofx-shopify on 2026-02-23T11:12:34Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'proofx-shopify'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[mounts]
  source = 'proofx_data'
  destination = '/data'

[env]
  SHOPS_FILE = '/data/shops.json'
  PROTECTED_DIR = '/data/protected'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
